
@model PTRex.MVC.Models.TargetWorkout

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/TargetStyleSheet.css" rel="stylesheet" />
<div class="target">
    <h2>MyR(e)x Plan - Add an Exercise</h2>
    <hr />
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <div class="target">
            <h3>Choose an Exercise from the Dropdown Menu</h3>
            <h4><a href='@Url.Action("Index", "Exercise")' target="_blank">Available Exercises</a> </h4>
        </div>


        <div class="target">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ExerciseID, "Formal Exercise Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ExerciseID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ExerciseID, "", new { @class = "text-danger" })
                </div>
            </div>

            <!----------------USER PROFILE ID
                I made this a hidden field for the demo, but now the index page and create page seem
                to be going to different users - NEED TO FIX THIS!! ------------->
            @Html.HiddenFor(model => model.UserProfileID)

            @*<div class="form-group">
                    @Html.LabelFor(model => model.UserProfileID, "User Profile ID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("UserProfileID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserProfileID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <!----------------------------- input a EXERCISE NICKNAME for the exercises (so you remember it better)
                also, this is part of the ActualWorkout table, so can easily be pulled into that menu-->
            <div class="form-group">
                @Html.LabelFor(model => model.ExerciseNickName, "Nickname for this Exercise", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExerciseNickName, new { htmlattributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExerciseNickName, "", new { @class = "text-danger" })
                </div>
            </div>

            <!------------------------------# SESSIONS PER DAY (limited to 0-1 for demo in target data annotations)-->
            <div class="form-group">
                @Html.LabelFor(model => model.TargetSessionsPerDay, "# Sessions per Day", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.TargetSessionsPerDay, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TargetSessionsPerDay, "", new { @class = "text-danger" })
                </div>
            </div>

            <!------------------------------# SETS PER SESSION (limited 1-3 in target data annotations)-->
            <div class="form-group">
                @Html.LabelFor(model => model.TargetNumSets, "#Sets per Session", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.TargetNumSets, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TargetNumSets, "", new { @class = "text-danger" })
                </div>
            </div>

            <!------------------------------REPS PER SET (limited to 20 in target data annotations)-->
            <div class="form-group">
                @Html.LabelFor(model => model.TargetNumReps, "#Reps per Set", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.TargetNumReps, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TargetNumReps, "", new { @class = "text-danger" })
                </div>
            </div>

            <!------------------------------USER NOTES-- required field, error fixed using target data annotations-->
            <div class="form-group">
                @Html.LabelFor(model => model.TargetNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TargetNotes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TargetNotes, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>

        <div class="form-group target">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Exercise" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="target">
    <h4>
        @Html.ActionLink("Back to Plan", "Index")
    </h4>
</div>